@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	text-align: center;
}

body {
	background-color: black;
}

.window {
	position: absolute;
	margin: 100px;
	padding: 0;
	user-select: none;
	touch-action: none;
}

.text1 {
	color: red;
	float: left;
	clear: both;
}

.text2 {
	color: black;
	clear: both;
	float: left;
	margin-left: 15px;
}

li {
	text-align: left;
	margin-left: 2em;
}