@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
}

header {
	position: relative;
	left: 0;
	top: 0;
	width: 1005;
	height: 80px;
}

header h4 {
	position: absolute;
	left: 10%;
	bottom: 1rem;
	font-size: 1.6rem;
}

.intro {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -200px;
	opacity: 0;
}

.logo.active {
	bottom: 0;
	opacity: 1;
	transition: cubic-bezier(.52,.43,.27,.86) 2s;
}

.logo.fade {
	bottom: 0px;
	opacity: 0;
	transition: cubic-bezier(.52,.43,.27,.86) 2s;
}

html,
body {
	width: 100%;
	height: 100%;
}

.body {
	background-color: #0a0a0a;
	background-size: cover;
	background-image: 
		radial-gradient(transparent, black),
		url('https://media.discordapp.net/attachments/712383102928027688/1158602016067690586/IMG_1882.webp?ex=651cd7b6&is=651b8636&hm=484cd573faca843f55f96e7c9dbe42570ac162f25695a732b4f8fec60d580420&=');
	position: relative;
	font-family: 'Assistant', sans-serif;
	box-shadow: inset 0 0 10px black;
}

.body::before {
	content: "";
	background: inherit;
	filter: blur(1rem) sepia(1) drop-shadow(0 0 1rem black);
	position: absolute;
	top: -1000px;
  	left: 0;
  	right: 0;
 	bottom: 0;
	z-index: -1;
}

.card {	
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 600px;
	height: 655px;
	border-radius: 10px;
	box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
	filter: drop-shadow(0 0 10rem black);
	background: #111214;
	overflow: hidden;
}

.card::before {
	content: "";
	position: absolute;
	background: #111214;
	background-image: url('https://media.discordapp.net/attachments/712383102928027688/1158602015509848124/IMG_1884.jpg?ex=651cd7b6&is=651b8636&hm=6a51281f4c15460d1461075e9831fedfd4e81ff03194fe0e1dbced851850c57c&=&width=608&height=905');
	filter: blur(8px) sepia(0.39) opacity(0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.card .ds-top {
	position: absolute;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	width: 600px;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.card .avatar-holder {
	position: absolute;
	margin: auto;
	top: 120px;
	right: 160px;
	left: 0;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: inset 0 0 10px #111214;
	filter: drop-shadow(0 0 1rem #111214) drop-shadow(0 0 1rem #111214);
	background: #111214;
	overflow: hidden;
}

.card .avatar-holder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .name {
	position: absolute;
	margin: auto;
	top: -250px;
	right: 0;
	bottom: 0;
	left: 80px;
	width: inherit;
	height: 40px;
	text-align: center;
}

.card .name .discrim {
	color: #b3b8bf;
}

.card .name a {
	color: #eaebed;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	transition: 500ms ease-in-out 200ms;
}

.card .name a:hover {
	text-decoration: underline;
	color: #b3b8bf;
}

.card .name h6 {
	position: absolute;
	margin: auto;
	top: 25px;
	left: -50px;
	right: 0;
	bottom: 0;
	color: #eaebed;
	font-weight: 200;
	font-size: 14px;
	width: 80px;
	white-space: nowrap;
}

.card .button {
	position: absolute;
	margin: auto;
	padding: 8px;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	width: inherit;
	height: 40px;
	text-align: center;
	outline: none;
}

.card .button a {
	padding: 5px 20px;
	border-radius: 10px;
	color: #eaebed;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-size: 10px;
	transition: 1s ease-out 100ms;
}

.card .button a:hover {
	color: #eaebed;
	background: red;
}

.card .ds-info {
	position: absolute;
	margin: auto;
	top: 120px;
	bottom: 0;
	right: 0;
	left: 22px;
	width: inherit;
	height: 40px;
	display: flex;
}

.card .ds-info h6 {
	position: absolute;
	margin: auto;
	left: -500px;
	right: 0;
	bottom: 40px;
	color: #eaebed;
	width: 80px;
	font-size: 14px;
	white-space: nowrap;
}

.card .ds-info p {
	color: #eaebed;
	font-size: 14px;
	font-weight: 200;
	left: 10px;
	position: absolute;
}

.card .ds-info .pens,
.card .ds-info .projects,
.card .ds-info .posts {
	position: relative;
	left: 160px;
	width: calc(250px / 3);
	text-align: center;
	color: #eaebed;
}

.card .ds-info .pens h6,
.card .ds-info .projects h6,
.card .ds-info .posts h6 {
	text-transform: uppercase;
	color: #eaebed;
}

.card .ds-info .pens p,
.card .ds-info .projects p,
.card .ds-info .posts p {
	font-size: 12px;
}

.card.ds-hub {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: -500px;
	width: inherit;
	height: 40px;
	display: flex;
}

.card.ds-hub  h6 {
	position: absolute;
	margin: auto;
	top: 1000px;
	left: -500px;
	right: 0;
	bottom: 40px;
	color: #eaebed;
	width: 80px;
	font-size: 14px;
	white-space: nowrap;
}