@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(139,0,0);
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	background-color: black;
}

.frame {
	line-height: 1;
}

.header {
	font-size: 39px;
}

.footer {
	padding: 39px;
	justify-content: space-between;
}